<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.87">
    <title>Movie Database</title>
    <link rel="stylesheet" type="text/css" href="/css/all.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand ml-4" href="/"><i class="fas fa-film"></i> Movie Database</a>
    </nav>